@use "./variables";

@mixin tablet {
    @media (min-width: variables.$tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: variables.$desktop-breakpoint) {
      @content;
    }
  }

  @mixin background {
    background-repeat: no-repeat;
    background-size: 1rem;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.001), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
  }