//TABLET AND DESKTOP BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//COLORS

$DarkBlue: hsl(209, 23%, 22%);
$DarkBlueText: hsl(200, 15%, 8%);
$DarkModeBackground: hsl(207, 26%, 17%);
$DarkGray: hsl(0, 0%, 52%);
$LightModeBackground: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);