@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

* {
  list-style: none;
}

.filter {
  padding: 0 1rem;
  @include tablet {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__search {
    width: 100%;
    padding: 1rem 4.5rem;
    @include background;
    background-image: url(../../assets/icons/search.svg);
    background-position: 5%;
    @include tablet {
      width: 40%;
      height: 2.5rem;
      padding: 1rem 3.5rem;
    }
  }
  &__dropdown {
    padding-top: 2rem;
    @include tablet {
      display: flex;
      justify-content: flex-end;
      width: 37%;
      padding-top: 0;
    }
    &-toggle {
      background-color: $White;
      text-align: left;
      padding: 0.7rem;
      @include background;
      background-image: url(../../assets/icons/arrow-up.svg);
      background-position: 90%;
      width: 50%;
      &-down {
        cursor: pointer;
        background-image: url(../../assets/icons/arrow-down.svg);
      }
    }
  }
  &__list {
    width: 60%;
    margin-top: 0.3rem;
    position: absolute;
    border-radius: 0.4rem;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
    :first-child {
      padding-top: 0.8rem;
      border-radius: 0.4rem 0.4rem 0 0;
    }
    :last-child {
      padding-bottom: 0.8rem;
      border-radius: 0 0 0.4rem 0.4rem;
    }
    @include tablet {
      margin-top: 3rem;
      width: 16.5%;
    }
    &-item {
      background-color: $White;
      padding: 0.2rem 2rem 0.2rem 1rem;
      cursor: pointer;
      &--active {
        background-color: $LightModeBackground;
        color: $DarkGray;
      }
    }
  }
}

.filter__list-item:hover {
    background-color: $LightModeBackground;
    font-weight: 600;
  }

