@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

p {
    font-size: 0.8rem;
}

.details {
  padding: 2.5rem 2rem;
  background-color: $LightModeBackground;
  &-link__btn {
   @include btn-shadow;
   cursor: pointer;
    &__image {
        width: 1rem;
        display: flex;
        align-items: center;
      }
  }

  &-container {
    &__img-wrapper {
        padding: 2rem 0;
    }
    &__img {
        width: 100%;
        height: 10rem; //****** might change *****
    }
    &__header {
        padding-bottom: 1rem;
    }
    &__info {
        @include infoText;
        &-bold {
            font-weight: 600;
        }
    }
    &__more-info {
        @include infoText;
        padding-bottom: 2.5rem;
        &-bold {
            font-weight: 600;
        }
    }
    &__btn-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }
    &__btn {
        @include btn-shadow;
        font-size: 0.6rem;
        cursor: pointer;
    }
  }
}
