@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

a {
    text-decoration: none;
    color: black;
}

.card {
  background-color: $White;
  width: 80%;
  margin: 2rem auto;
  border-radius: 0.4rem;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.001), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
  @include tablet {
    width: 19%;
    margin: 2rem;
  }
  &.dark {
    background-color: $DarkBlue;
    color: $White;
  }
  &__img {
    width: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
    @include tablet {
      height: 10rem;
      object-fit: cover;
    }
  }
  &__text-container {
    padding: 1rem 1rem 2rem;
  }
  &__header {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    &.dark {
      color: $White;
    }
  }
  &__text {
    padding-bottom: 0.2rem;
    &.dark {
      color: $White;
    }
    &-bold {
      font-weight: 600;
    }
    :last-child {
      padding-bottom: 2rem;
    }
  }
}
