@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.nav-bar {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.04), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
    @include tablet {
        padding: 1rem 5rem;
    }
    &__heading {
        font-size: 1rem;
        font-weight: 800;
    }
    &__wrap {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    &__moon {
        width: 1rem;
    }
    &__text {
        font-weight: 600;
    }
}